@model BlogCoreSolution.Models.ViewModels.ArticuloVM

@{
    ViewData["Title"] = "Editar Artículo";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Editar Artículo</h2>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">
            
            <form method="POST"  asp-action="Edit" enctype="multipart/form-data">

                <input type="hidden" asp-for="Articulo.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3 row">
                    <label asp-for="Articulo.Nombre" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre del artículo" />
                        <span asp-validation-for="Articulo.Nombre" class="text-danger d-block mt-1"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Articulo.Descripcion" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Articulo.Descripcion" id="Contenido" class="form-control" style="height: 300px;"></textarea>
                        <span asp-validation-for="Articulo.Descripcion" class="text-danger d-block mt-1"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Articulo.CategoriaId" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias, "Seleccione una categoría", new { @class = "form-control" })
                        <span asp-validation-for="Articulo.CategoriaId" class="text-danger d-block mt-1"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Articulo.UrlImagen" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" name="archivos" id="subidaArchivo" />
                        <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col d-flex justify-content-center gap-3">
                        <button type="submit" class="btn btn-success px-4">Actualizar</button>
                        <a asp-action="Index" class="btn btn-secondary px-4">Cancelar</a>
                    </div>
                </div>
            </form>
            
        </div>

        <div class="col-md-8 col-lg-4">
            <img src="@Model.Articulo.UrlImagen" class="img-fluid" alt="Imagen del artículo" style="border-radius: 5px; border: 1px solid #bbb9b9;"/>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>
    <script>
        new SimpleMDE({ element: document.getElementById("Contenido") });
    </script>
}

                      